.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.auth-buttons {
  margin-top: 20px;
}

.auth-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.auth-buttons button:hover {
  background-color: #21a1f1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  color: red;
}

.success-message {
  color: green;
}

.register-button {
    width: 136px; /* New width */
    height: 45px; /* New height */
    margin: 20px; /* Margin for spacing */
    border-radius: 20px; /* Rounded corners */
    opacity: 0.9; /* Adjust opacity */
    background: #FF7373; /* Background color */
    color: white; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s; /* Smooth transition */
}

.register-button:hover {
    background-color: #FF4C4C; /* Darker background on hover */
    opacity: 1; /* Full opacity on hover */
}
