.home-container {
    padding: 20px;
    text-align: center;
}

.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    background-color: transparent;
    border: 2px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.category-button:hover {
    background-color: #007bff;
    color: white;
}

.stories-section {
    margin: 20px 0;
}

.stories-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.stories-grid {
    display: flex;
    flex-wrap: nowrap; /* Change to nowrap for horizontal layout */
    overflow-x: auto; /* Allow horizontal scrolling */
    justify-content: center;
}

.story-card {
    width: 257px;
    height: 459px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
    cursor: pointer;
}

.story-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.story-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
