.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other elements */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 20px 20px 20px 20px; /* Rounded corners */
    width: 624px; /* Set width */
    height: 482px; /* Set height */
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    opacity: 1; /* Slightly transparent */
}

.close-button {
    position: absolute;
    top: 20px; /* Increased distance from the top */
    right: 20px; /* Increased distance from the right */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
